# Compiled Python files
__pycache__/
*.pyc

# Environment folder (if you're using virtual environments)
venv/
env/
*.env

# Dependency directories
lib/
libs/
node_modules/

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.swp

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
